<div class="w-screen text-white relative">
  <div class="absolute top-0 left-0 h-full w-full opacity-65 z-10">
    <video autoplay muted loop class="w-full h-full object-cover">
      <source src="../../assets/file.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="absolute top-40 left-0 h-5/6 w-full z-20 flex justify-center items-center">
    <img src="../../assets/overlay.webp" alt="Overlay Image" class="w-auto h-auto">
  </div>
  <div class="flex p-4 items-center w-full z-30 relative">
    <ul class="flex gap-8 ml-auto">
      <li><a href="home" class="font-madeFor cursor-pointer text-xl">Home</a></li>
      <li><a href="about" class="font-madeFor cursor-pointer text-xl">About</a></li>
      <li><a href="home#application" class="font-madeFor cursor-pointer text-xl">Application</a></li>
      <li><a href="home#park" class="font-madeFor cursor-pointer text-xl">Parking Ecosystem</a></li>
      <li><a href="home#contact" class="font-madeFor cursor-pointer text-xl">Contact</a></li>
    </ul>
  </div>
  <div class="relative h-screen flex flex-col justify-center items-center w-full gap-4 z-30">
    <h3 class="text-6xl font-sarabun font-semibold">The Complete Parking Ecosystem</h3>
    <br>
    <br>
    <h5 class="text-4xl font-sarabun font-semibold">
      Say goodbye to parking headaches and hello to Halt-O!
    </h5>
  </div>
</div>


<div class="w-screen p-10 flex flex-col items-center gap-1">
  <div class="grid grid-cols-1 w-1/3 text-white -ml-60  gap-3">
    <h3 class="text-2xl font-red-hat-display ">We’re just getting started</h3>
    <p class=" font-red-hat-display">
      Get ready to witness some amazing accomplishments and the best is yet to
      come.
    </p>
  </div>
  <img src="../../assets/team.webp" alt="team" class="w-2/4 mx-auto" />
</div>

<div class="w-screen p-24 flex gap-6 justify-between items-center leading-relaxed">
  <div class="w-1/4 text-white h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4">
    <h3>MISSION:</h3>
    <h4 class="text-xl">
      Our mission is to provide a seamless, efficient, and convenient parking
      experience for both parking lot operators and drivers
    </h4>
    <p>
      Making parking more accessible by providing real-time information about
      available parking spots and enabling drivers to reserve and pay for
      parking in advance.
    </p>
    <a href="about#mission">
      <button class="border-2 w-40 border-white  text-black bg-white mx-auto px-3 py-1 hover:text-white hover:bg-black">
        Read More
      </button></a>
  </div>
  <div class="w-2/5">
    <img src="../../assets/road.jpg" alt="road" class="" />
  </div>
</div>

<div class="w-screen p-24 flex gap-6 bg-white justify-between items-center">
  <div class="w-2/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4">
    <h3>VISION:</h3>
    <h4 class="text-2xl">We take care the parking woes</h4>
    <p>
      The vision of Halt-O is to create a world where parking is no longer a
      hassle or a source of stress for drivers, and where parking lot operators
      can maximize the use of their resources while reducing their environmental
      impact
    </p>
    <a href="about#vision">
      <button class="border-2 w-40 border-black  text-white bg-black mx-auto px-3 py-1 hover:text-black hover:bg-white">
        Read More
      </button></a>
  </div>
  <div class="w-2/5">
    <img src="../../assets/India.png" alt="road" class="" />
  </div>
</div>

<div class="w-screen p-24 flex gap-6 bg-white justify-between items-center" id="application">
  <div class="w-2/5">
    <video autoplay muted loop>
      <source src="../../assets/application.mp4" type="video/mp4">
    </video>
  </div>
  <div class="w-2/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4">
    <h3>APPLICATION:</h3>
    <h4 class="text-2xl">Halt-O Mobile Application</h4>
    <p>
      Plan, Park & Pay Halt-O app is available for download on both Android and
      IOS and offers a host of features to help you find the perfect spot,
      including real-time parking availability and information on amenities in
      the lot. And with our live CCTV access, you can even keep an eye on your
      vehicle while you're away. Say goodbye to parking headaches and hello to
      Halt-O!
    </p>
    <a href="application">
      <button class="border-2 w-40 border-black  text-white bg-black mx-auto px-3 py-1 hover:text-black hover:bg-white">
        Read More
      </button></a>
  </div>
</div>

<div class="w-screen p-24 flex gap-6 justify-between items-center" id="park">
  <div class="w-2/5 text-white h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4">
    <h3>TRUCK PARKING ECOSYSTEM:</h3>
    <h4 class="text-2xl">REINVENT THE PARKING EXPERIENCE</h4>
    <p>
      Every year 4 lakh new trucks getting into the logistics market seeking for
      parking space. The estimated value of the goods carried by the trucks on
      Indian roads is $ 200Bn. Over 57,000 truck crashes and 15,000 drivers are
      killed on road accidents every year. Truck drivers often have to try
      several lots before they can find somewhere to park. The result is
      frustration, fatigue, improper sleep, robbery, insecurity over vehicle
      protection.
    </p>
    <a href="parkingEco">
      <button class="border-2 w-40 border-white  text-black bg-white mx-auto px-3 py-1 hover:text-white hover:bg-black">
        Read More
      </button></a>
  </div>
  <div class="w-2/5">
    <img src="../../assets/park_edited.webp" alt="road" class="" />
  </div>
</div>
<div class="w-screen flex bg-white items-center">
  <div class="h-2/4 w-2/4">
    <img src="../../assets/image.webp" alt="road" class="" />
  </div>
  <div class="w-2/6 text-black h-full ml-28 -mt-40 grid grid-cols-1 justify-center gap-6 border-black">
    <h3 class="text-2xl">Recycling :</h3>
    <p>
      Our Parking areas are equipped with a sustainable approach where we
      utilize recycled plastics for various purposes. As part of our
      environmental commitment, we incorporate the use o recycled plastics in
      our package lot infrastructure.
    </p>
    <p>
      The roads/flooring in our parking are recycled plastics and polyesters.
      The recycling process:
    </p>
    <ul class="list-disc ml-10">
      <li>We shred them into small pieces</li>
      <li>Adding heated blue metal</li>
      <li>Melting with the brick jelly</li>
      <li>Adding Bitumen</li>
      <li>Laying the Road</li>
    </ul>
    <p>
      By utilizing recycled plastics in our parking lot, we aim to reduce waste
      and promote a circular economy.
    </p>
  </div>
</div>
<div class="w-screen p-24 flex gap-6 justify-between items-center">
  <div class="w-2/5 text-white h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4">
    <h3>AMENITIES:</h3>
    <h4 class="text-2xl">
      Our parking ecosystem offers a range of amenities to ensure your parking
      experience is stress-free and convenient.
    </h4>
  </div>
  <div class="w-2/5 grid grid-cols-3 justify-center items-center text-white">
    <div class="flex flex-col items-center">
      <img src="../../assets/cafeteria.webp" alt="road" class="size-32" />
      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/dormitory.webp" alt="road" class="size-32" />

      <p>Dormitories</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/toilet.webp" alt="road" class="size-32" />

      <p>Toilets</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/mechanic.webp" alt="road" class="size-32" />

      <p>Mechanic Assistance</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/cctv.webp" alt="road" class="size-32" />

      <p>CCTV</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/solar.webp" alt="road" class="size-32" />
      <p>Solar Canopies</p>
    </div>
    <div class="flex flex-col items-center col-span-3">
      <img src="../../assets/locaker.webp" alt="road" class="size-32" />
      <p>Lockers</p>
    </div>
  </div>
</div>

<div class="flex w-full items-center border-2 bg-white" id="contact">
  <div class="flex flex-col mx-36">
    <h3 class="text-5xl ">Contact</h3>
    <br>
    <div class="flex flex-row gap-5 w-3/5">
      <img src="../../assets/location-outline-svgrepo-com.svg" class="w-8 h-8" alt="" srcset="">
      <p>
        No.23 B F1, PVS Nagar, Shanthiniketan Layout, Thuraipakkam, Chennai, Tamil
        Nadu - 600097
      </p>
    </div>
    <br>
    <div class="flex flex-col mx-2">
      <div class="flex gap-5 items-center">
        <img src="../../assets/phone-svgrepo-com.svg" class="w-6 h-6" alt="" srcset="">
        <p>+91 44480 61391</p>
      </div>
      <br>
      <div class="flex items-center gap-5">
        <img src="../../assets/communication-contact-e-mail-svgrepo-com.svg" class="w-6 h-6" alt="" srcset="">
        <p>contacthalt-o.com</p>
      </div>
    </div>
    <br>
    <div class="flex mx-3 items-center gap-5">
      <img src="../../assets/thumbs-up-svgrepo-com.svg" class="w-6 h-6" alt="" srcset="">
      <a href="https://www.linkedin.com/company/trustem-private-limited/">
        <img src="../../assets/linkedin.webp" class="w-6 h-6" srcset="">
      </a>
    </div>
  </div>
  <form class="flex flex-col items-center -ml-56 gap-3 w-2/5 p-12 text-black bg-white">
    <div class="flex gap-3 w-full">
      <div class="flex flex-col w-full">
        <label>First Name</label>
        <input type="text" class="border-2" />
      </div>
      <div class="flex flex-col w-full">
        <label>Last Name</label>
        <input type="text" class="border-2" />
      </div>
    </div>

    <div class="flex flex-col w-full">
      <label>Email*</label>
      <input type="email" class="border-2" />
    </div>
    <div class="flex flex-col w-full">
      <label>Message</label>
      <textarea rows="4" class="border-2"></textarea>
    </div>
    <button
      class="border-2 w-40 bg-[#cf5308] border-[#cf5308] hover:text-[#cf5308] hover:bg-white font-light p-1 text-white">
      Send
    </button>
  </form>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3678204307885!2d80.24004901132409!3d12.948299387312199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d3e49715fa1%3A0x94fe3a96888fa164!2sHALT-O!5e0!3m2!1sen!2sin!4v1714538169098!5m2!1sen!2sin"
  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-screen h-96"></iframe>